* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    font-family: 'Ubuntu', sans-serif;
    /*font-family: 'Vollkorn', serif;*/
    color: #000099;
}

h1 {
    font-size: 25px;
    color: #ffffff;
}

h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 700px;
}

header,
footer {
    text-align: center;
    background-color: #003399;
    color: whitesmoke;
    border-radius: 15px;
}

header img {
    width: 100px;
    height: auto;
    float: right;
    border-radius: 8px;
}

footer {
    font-size: 14px;
}

nav li {
    background-color: whitesmoke;
    border-radius: 6px;
    padding: 10px;
    display: inline;
}

footer a:link {
    color: #c0c0ff;
}

footer a:visited {
    color: #a0a0a0;
}